<!--Designed by Chong Xie 21885263 -->
<!--Here is view model for heatmap -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UWA parking heat map></title>   <!-- basic config for initilization -->
    <link rel="stylesheet" type="text/css" href="./css/map.css" /> <!-- map css source -->
    <script type="text/javascript" src="./js/user.js"></script>
    <script>
    function getPoints() {
            points= [];  // initial arrary
        
          <% for ( var i =0; i<data.length; i++) {%>   //ejs variable and render's result
            
            point_obj= new google.maps.LatLng(<%=data[i].Lat%>,<%=data[i].Lng%>);
            points.push(point_obj);  //let points collect all point_obj
         
          <% } %>
         
          return  points;  //render it to the map
          
        //];
      }</script>
    
  </head>

  <body>
    <div id="floating-panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
    </div>
    <div id="map"></div>
    
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf9cVNL8jstyAJGOcBqVnCDK_QPp4hf7o&libraries=visualization&callback=initMap">
    </script>
    

  </body>
</html>